body {
    background-image: url("img/markus-spiske-QOuHmf0_qqk-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#house{
    position: absolute;
    top: 0px;
    left: 10px;
}
#tips{
    position: absolute;
    top: 10px;
    left: 750px;
    height: 500px;
    width: 500px;
}
#player{
    position: absolute;
    top: 250px;
    left: 10px;
}
.alert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 200px;
    margin-left: -100px;
    z-index: 99999;
    padding: 50px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}